<div class="main animated bounceInLeft">

  <div class="all-products">
    <div class="block-products">
      <h3>48 HOURS ONLY!</h3>
      <div class="gray-line"></div>
      <p>Lorem ipsum dolor sit amet, gravida <br>
        dui maecenas dis semper, imperdiet <br>
        eget duis nulla lectus ut.</p>
      <div class="image">
        <img src="assets/images/red-garnet.jpg">
      </div>
    </div>

    <div class="block-products">
      <h3>SALE 50% OFF</h3>
      <div class="gray-line"></div>
      <p>Lorem ipsum dolor sit amet, gravida <br>
        dui maecenas dis semper, imperdiet <br>
        eget duis nulla lectus ut.</p>
      <div class="image">
        <img src="assets/images/sweet-peper.jpg">
      </div>
    </div>

    <div class="block-products block-hidden-1">
      <h3>SALE 50% OFF</h3>
      <div class="gray-line"></div>
      <p>Lorem ipsum dolor sit amet, gravida <br>
        dui maecenas dis semper, imperdiet <br>
        eget duis nulla lectus ut.</p>
      <div class="image">
        <img src="assets/images/zuc.jpg">
      </div>
    </div>

    <div class="block-products block-hidden-2">
      <h3>BEST SELLERS!</h3>
      <div class="gray-line"></div>
      <p>Lorem ipsum dolor sit amet, gravida <br>
        dui maecenas dis semper, imperdiet <br>
        eget duis nulla lectus ut.</p>
      <div class="image">
        <img src="assets/images/red-apples.jpg">
      </div>
    </div>

  </div>
</div>