<div class="block-form" [formGroup]="userlist">
  <div class="form">
    <h3>Welcome get back!</h3>

    <div class="user-info">
      <label for="email">Email Address
        <span class="required">*</span>
      </label>
      <input type="text" formControlName="email" value="{{email}}">
      <span class="error" *ngIf="userlist.controls['email'].invalid && userlist.controls['email'].dirty">{{userlist.controls['email'].errors.message}}</span>

      <label for="email">Password
        <span class="required">*</span>
      </label>
      <input type="password" formControlName="password" value="{{password}}">
      <span class="error" *ngIf="userlist.controls['password'].invalid && userlist.controls['password'].dirty">{{userlist.controls['password'].errors.message}}</span>
    </div>
    <p class="forgot-pas" routerLink=''>Forgot password?</p>
    <button class="but-signup" (click)="goToShop(userlist.value)">Login</button>
  </div>
</div>
