<div class="main" [style.background-image]="'url('+ bg +')'">
    <div class="block-logo">
        <img src="../assets/images/logo.png">
    </div>
    <div class="block-greeting">
        <h1 class="title">Welcome to our online shop!</h1>
        <p>In order to do shopping in Brezza you need to Sign up!</p>
        <p>If you have an account just Log in!</p>
        <div class="block-button">
            <button class="but" routerLink='signup'>Sign Up</button>
            <button class="but" routerLink='login'>Login</button>
        </div>
    </div>
</div>